.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 1rem;
  max-width: 70rem;
  margin: 0 auto;
}

@media (min-width: 40rem) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 50rem) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
