.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

form {
  max-width: 600px;
  width: 100%;
  padding: 25px 25px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #001F3F;
  background: white;
}

form .input-box {
  margin-top: 20px;
}

.input-box .field {
  width: 100%;
  height: 50px;
  background: white;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  color: #333;
  margin-top: 8px;
}

.input-box .field.message {
  height: 10rem;
  resize: none;
}

form button {
  width: 100%;
  transition: .5s;
  border: none;
  color: white;
  background-color: #001F3F;
}

form button:hover {
  width: 100%;
  background-color: white;
  color: #001F3F;
  border: 1px solid #001F3F;
}

form .honey {
  display: none;
}
