.footer {
  background-color: #80d0ff;
  padding: 20px 0;
  text-align: center;
}

.social-icons a {
  color: #001f3f;
  font-size: 1.5rem;
  margin: 0 10px;
}

.social-icons i {
  transition: color 0.3s;
}

.social-icons .fa-facebook-f:hover {
  color: #4267b2;
}

.social-icons .fa-youtube:hover {
  color: #ff0000;
}

.social-icons .fa-instagram:hover {
  background: -webkit-radial-gradient(
    33% 100% circle,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Responsive Footer */
@media (max-width: 1024px) {
  .social-icons a {
    font-size: 1.2rem;
    margin: 0 5px;
  }
}
